.trans{
	width: 15em;
	height: 10em;
	background: #239;
	border: none;
	color: black;
	position: absolute;
	left: 0;
}
@keyframes color_changes{
	10%{background-color: #6495ED ;}
	15%{background-color: #FF00FF ;}
	30%{background-color: #DAA520 ;}
	50%{background-color: #D2691E;}
	66%{background-color: #808080 ;}
	80%{background-color: #000080 ;}
	100%{background-color: #6495ED ;}
}
.trans:hover{
	background: green;
	/*box-shadow: 1px 1px 2px #333;*/
	/*transition-duration: 1s;*/
	left: 100px;
	transform: rotateX(10deg);
	/*transform: translateZ(-100px);*/
	/*transform: skewY(10deg);*/
	/*transform: scale(0.5);*/
	animation-name: color_changes;
	animation-duration:6s;
	/*animation-duration: 3s;*/
	animation-iteration-count: infinite;
}

body{
	perspective: 100px;
}


